<h1 class="page-header">Clients Support Chat</h1>

<div class="container">
    <div class="row">
        <div class="message-wrap col-lg-12">
            <div class="msg-wrap">

                <% @messages.each do |m| %>
                    <%= render 'message', locals: { m: m } %>
                <% end %>

            </div>

            <%= simple_form_for :message, url: messages_path do |f| %>

                <div class="send-wrap">
                    <%= f.input :body, as: :text, input_html: { id: 'url', class: 'form-control send-message', rows: '3' }, placeholder: 'Message', label: false %>
                </div>

                <div class="btn-panel">
                    <%= f.button :submit, class: 'col-lg-10 text-right btn send-message-btn pull-right btn-block', role: 'button' do %>
                        <span class="glyphicon glyphicon-send"> </span> Send Message
                    <% end %>
                </div>
            <% end %>

        <br><br>

        <ul style="list-style-type: none;" class="pull-left">
            <% @recipients_new.each_with_index do |user, index| %>
                <label for="user<%= user.id %>">
                    <li>
                        <span class="list-group-item">
                            <%= user.email %>
                            <%= check_box_tag 'message[user_tokens][]', user.id, (index == 0 && user.admin?) ? true : @message.users.include?(user), id: "user#{user.id}" %>
                        </span>
                    </li>
                </label>
                <br>
            <% end %>
        </ul>
        </div>
    </div>
</div>
