<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "form-signin" }) do |f| %>
  <h2 class="text-center">Resend unlock instructions</h2>
  <%= f.error_notification %>
  <%= f.full_error :unlock_token %>

  <%= f.input :email, placeholder: "Email", required: true, autofocus: true, label: false, input_html: { class: "form-control" } %>

  <%= f.button :submit, "Resend unlock instructions", class: "btn btn-primary btn-block" %>

  <%= render "devise/shared/links" %>
<% end %>
