
<div class="main-page">
    <%= link_to root_path, class: 'main-brand-name' do %>
        <h1 class="page-header text-center">Symphony Store</h1>
    <% end %>
    <h4 class="text-center">Choose your category below</h4>

    <div class="instrument-row col-sm-offset-1">
        <div class="col-sm-6 col-centered">
            <figure>
                <%= link_to saxophones_path do %>
                    <%= image_tag 'saxophone.jpg' %>
                <% end %>
                <figcaption class="text-center col-sm-offset-4">
                    Saxophones
                </figcaption>
            </figure>
            <figure>
                <%= link_to violins_path do %>
                    <%= image_tag "violin.png" %>
                <% end %>
                <figcaption class="text-center col-sm-offset-4">
                    Violins
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="instrument-row col-sm-offset-1">
        <div class="col-sm-6 col-centered">
            <figure>
                <%= link_to guitars_path do %>
                    <%= image_tag 'guitar.jpg' %>
                <% end %>
                <figcaption class="text-center col-sm-offset-4">
                    Guitars
                </figcaption>
            </figure>
            <figure>
                <%= link_to pianos_path do %>
                    <%= image_tag "piano.jpg" %>
                <% end %>
                <figcaption class="text-center col-sm-offset-4">
                    Pianos
                </figcaption>
            </figure>
        </div>
    </div>
</div>
