<%= simple_form_for(resource, as: resource_name,
                              url: session_path(resource_name),
                              html: { class: "form-signin" }) do |f| %>
	<h2 class="text-center">Log In</h2>

    <%= f.input :email, placeholder: "Email", required: true, autofocus: true, label: false, input_html: { class: "form-control" } %>
    <%= f.input :password, placeholder: "New password", required: true, label: false, input_html: { class: "form-control" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>

	<%= render "devise/shared/links" %>
<% end %>
