<div class="item col-xs-4 col-lg-4">
	<div class="thumbnail">
	<%= link_to product_path(product) do %>
<!-- 		<img class="group list-group-image" src="http://placehold.it/400x250/00/fff" alt="" /> -->
		<img class="group list-group-image" src="<%= get_img_src_for product %>" alt="" />
		<div class="caption">
			<h4 class="group inner list-group-item-heading">
				<%= product.name %>
			</h4>
			<p class="group inner list-group-item-text">
				<%= shorten(product, 82) %>
			</p>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p class="lead">
						<%= to_price(product) %>
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<!-- TODO: ADD TO CART LINK -->
					<button href="#" class="btn btn-success add-to-cart">Add to Cart</button>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
