<div class="products-show">
<div class="container-fluid">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-6">
                    <div class="product-preview">
                        <img src="<%= if @product[2].first then @product[2].first.photo.url(:original) else 'http://placehold.it/350x150' end %>" alt="" data-toggle="modal" data-target="#myModal" />

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">All "<%= @product[0].name %>" images</h4>
      </div>
      <div class="modal-body">
        <section class="main">
          <div class="container grid-custom">
            <div class="row">
              <% if @product[2].first.present? %>
                  <% @product[2].each do |product| %>
                      <div class="col-sm-6 col-xs-12 first-block">
                        <img src="<%= product.photo.url(:original) %>" alt="" class="img-responsive">
                      </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- end Modal -->
                    </div>
                </div>

                <div class="col-md-6 general-product-data">
                    <h1 class="product-title page-header"><%= @product[0].name %></h1>
                    <div class="product-desc"><%= shorten(@product[0], 300) %></div>
                    <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                    <hr>
                    <div class="product-price"><%= to_price(@product[0]) %></div>
                    <div class="product-stock">In Stock</div>
                    <hr>
                    <div class="btn-group cart">
                        <%= link_to 'Add to Cart', cart_index_path, class: 'btn btn-success' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                    <ul id="myTab" class="nav nav-tabs nav_tabs">

                        <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                        <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
                        <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>

                    </ul>
                <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="service-one">

                            <section class="container product-info">
                                <p><%= @product[0].description %></p>
                            </section>

                        </div>
                    <div class="tab-pane fade" id="service-two">
                        <div class="container">
                            <div class="row">
                            <section class="container">
                                <br>
                                <% arr = @product[1].attributes.to_a %>
                                <% first, second = arr.each_slice((arr.size/2.0).round).to_a %>
                                <div class="col-md-6">
                                    <%= print_array_for first %>
                                </div>
                                <div class="col-md-6">
                                    <%= print_array_for second %>
                                </div>
                            </section>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <!-- ==== COMMENTS ==== -->
                        <% if user_signed_in? %>
                        <br>
                        <%= render 'form' %>
                        <% end %>
                        <br>
                        <% if @comments.size > 0 %>
                            <div class="container"><br>
                                <div class="qa-message-list" id="wallmessages">
                                    <%= render partial: 'comments/comment',
                                               collection: @comments,
                                               as: :comment %>

                                </div>
                            </div>
                        <% else %>
                            <div class="container">
                                <div class="row">
                                    <h5>No comments here yet. Be the first!</h5>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
    <a href="#0" class="cd-top">Top</a>
</div>
