<!DOCTYPE html>
<html>
<head>
  <title>RubyBursaTeamProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%- if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.email %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>
<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <% flash.each do |type, message| %>
      <div class="alert alert-info fade-in">
        <button class="close" data-dismiss="alert">x</button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
