<!DOCTYPE html>
<html>
<head>
  <title>RubyBursaTeamProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield(:head) %>
  <%= render 'layouts/header' %>
  <div class="container">

    <% messages = [] %>
    <% flash.each do |type, message| %>
        <% messages << message %>
    <% end %>
    <%= notify('success', messages, 'bottom-left', '4000') %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </div>
</body>
</html>
